.tag-container {
  position: relative;
  padding-top: calc(5/3*100%);
  border: 1px solid gray;
  height: 0;
}


.route-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-text {
  position: absolute;
  width: 100%;
  height: 85%;
  text-align: center;
  background: url("../../assets/S1-Background-Cropped.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tag-color {
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.purple {
  background: rebeccapurple;
}

.blue {
  background: royalblue;
}

.pink {
  background: violet;
}

.red {
  background: orangered;
}

.black {
  background: black;
}

.tag-header {
  position: absolute;
  height: 15%;
  width: 100%;
  display: flex;
  background: url("../../assets/S1_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  align-items: flex-start;
}

.route-grade {
  position: relative;
  top: 30%;
  margin: 0;
}

.type {
  font-size: 15vw;

}

.difficulty {
 /* font-weight: bold;*/
  font-size: 35vw;
}

.route-name {
  position: relative;
  top: 30%;
  font-size: 6vw;
  margin: 0;
}

.route-info {
  position: relative;
  top: 30%;
  font-weight: bold;
  font-size: 6vw;
  margin: 2vw;
}

.route-notes {
  position: relative;
  top: 30%;
  font-size: 6vw;
  margin: 3vw;
}

.set-date {
  position: absolute;
  left: 3%;
  bottom: 3%;
  font-size: 8vw;
}

.setter {
  position: absolute;
  right: 3%;
  bottom: 3%;
  font-size: 8vw;
}

@media screen and (min-width: 480px) {
  .type {
    font-size: 72px;
  }
  .difficulty {
    font-size: 162px;
  }
  .route-name {
    font-size: 32px;
  }
  .route-info {
    font-size: 32px;
  }
  .route-notes {
    font-size: 32px;
  }
  .set-date {
    font-size: 41px;
  }
  .setter {
    font-size: 41px;
  }
}

.page-break {
  page-break-before: always;
}