.tag-container {
  position: relative;
  padding-top: calc(5/3*100%);
  border: 1px solid gray;
  height: 0;
}


.route-tag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tag-text {
  position: absolute;
  width: 100%;
  height: 85%;
  text-align: center;
}

.purple-tag {
  position: absolute;
  height: 15%;
  width: 100%;
  bottom: 0;
  display: flex;
  background: rebeccapurple;
  align-items: flex-end;
}


.route-grade {
  position: relative;
  top: 30%;
}

.type {

}

.difficulty {
  font-weight: bold;
}

.route-name {
  position: relative;
  top: 30%;
}

.route-info {
  position: relative;
  top: 30%;
  font-weight: bold;
}

.route-notes {
  position: relative;
  top: 30%;
}

.set-date {
  position: absolute;
  left: 3%;
  bottom: 3%;
}

.setter {
  position: absolute;
  right: 3%;
  bottom: 3%;
}