.deck-container {
  float: none;
  max-width: 400px;
  margin: auto;
}

.deck-space {
  min-height: 150px;
  width: 100%;
  margin:1px;
}

/*@media screen and (min-width: 350px) {
  .deck-space {
    width: 48%;
  }
}
@media screen and (min-width: 500px) {
  .deck-space {
    width: 30%;
  }
}
@media screen and (min-width: 650px) {
  .deck-space {
    width: 22%;
  }
}
@media screen and (min-width: 800px) {
  .deck-space {
    width: 18%;
  }
  .deck-container {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
*/